* {
  box-sizing: border-box;
  margin: 0;
}

body {
  /*min-height: 100vh;*/
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
}

.header {
  height: 10vh;
  padding: 10px;
  background-color: #323232;
  color: #FFF;
  font-family: 'Martel Sans', sans-serif;
}

.home {
  min-height: 90vh;
  background: no-repeat center/cover url('../home-background.jpg');
  
}