* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
}

.header {
  height: 10vh;
  padding: 10px;
  background-color: #323232;
  color: #FFF;
  font-family: 'Martel Sans', sans-serif;
}

.home {
  min-height: 90vh;
  background: no-repeat center/cover url('../home-background.jpg');
}

.homepage-btns-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homepage-btns-container a {
  /*width: 50%;
  min-width: 250px;*/
}

.homepage-btns {
  /*width: 70%;*/
  height: 170px;
  border: none;
  border-radius: 5px;
  margin: 12px;
  background-color: #E5E5E5;
  box-shadow: 3px 3px 1px #E5E5E5;
  /*color: #FFF;*/
  font-family: 'Martel Sans', sans-serif;
  font-size: 16px;
}

/*.btn-title {
  border: 1px solid white;
  padding: 4px;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.3);
}*/

/*.styles {
  background: no-repeat center/cover url('../styles-background.jpg');
}

.styles:hover {
  background: no-repeat center/cover url('../styles-background-hover.jpg');
}

.favorites {
  background: no-repeat center/cover url('../favorites-background.jpg');
}

.favorites:hover {
  background: no-repeat center/cover url('../favorites-background-hover.jpg');
}*/

.styles-matrix {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  align-content: space-around;
  justify-content: space-around;
  padding: 50px;
}

.styles-matrix div {
  margin: 10px auto;
  text-align: center;
}

.image {
  width: 300px;
  height: 300px;
  border: 3px solid #E5E5E5;
  box-shadow: 3px 3px 5px #E5E5E5;
  object-fit: cover;
}