* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
}

a {
  text-decoration: none;
}

.header {
  height: 10vh;
  padding: 10px;
  background-color: #323232;
  font-family: 'Martel Sans', sans-serif;
}

.header a {
  color: #FFF;
}

.home {
  min-height: 90vh;
  background: no-repeat center/cover url('../home-background.jpg');
}

.homepage-btns-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}

.homepage-btns-container a {
  width: 250px;
  margin: 10px;
}

.homepage-btns {
  width: 250px;
  height: 200px;
  border: 20px solid transparent;
  border-image: url(../btn-frame.png) 100 stretch;
  background-color: #E5E5E5;
  box-shadow: 3px 3px 5px #323232;
  color: #323232;
  cursor: pointer;
  font-size: 20px;
  font-family: 'Martel Sans', sans-serif;
  outline: none;
}

.btn-title {
  text-shadow: 2px 2px #ADADAD;
}

.styles {
  background: no-repeat center/130% url('../styles-background-hover.jpg');
}

.favorites {
  background: no-repeat center/130% url('../favorites-background-hover.jpg');
}

.styles-matrix {
  /*display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  align-content: space-around;
  justify-content: space-around;
  padding: 50px;*/
  background-color: #E5E5E5;
  padding: 50px;
}

.styles-matrix div {
  text-align: center;
}

.title-and-slider {
  display: flex;
  margin: 20px 0;
}

.image-slider {
  display: flex;
  width: 90vw;
  overflow: scroll;
}

.slider-title {
  width: 300px;
  min-width: 300px;
  padding-top: 150px;
  color: #323232;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.page-info {
  height: 35vh;
  padding: 10px;
}

.page-info h2 {
  font-size: 24px;
  font-family: 'Martel Sans', sans-serif;
}

.page-info container {
  display: grid;
  grid-template-columns: 160px auto;
}

.fav-percent, .fav-style {
  color: #588557;
  font-family: 'Open Sans', sans-serif;
}

.fav-percent {
  font-size: 32px;
}

.fav-style {
  font-size: 12px;
  font-style: italic;
}

.images-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  align-content: space-around;
  justify-content: space-around;
  min-height: 55vh;
  padding-top: 20px;
  background-color: #E5E5E5;
}

.images-list div {
  margin: 10px auto;
  text-align: center;
}

.image {
  width: 300px;
  height: 300px;
  border: 2px solid #FFF;
  margin: 0 10px;
  box-shadow: 3px 3px 5px #727272;
  object-fit: cover;
}

.see-more {
  color: #323232;
}

@media screen and (min-width: 600px) {
  .homepage-btns-container {
    flex-direction: row;
    justify-content: center;
    height: 70vh;
    align-content: space-around;
  }
  
  .homepage-btns-container a {
    margin: 10px 40px;
  }
  
  .page-info {
    height: 35vh;
    padding: 50px;
  }

  .page-info h2 {
    font-size: 32px;
  }

  .page-info container {
    display: block;
  }

  .style-calc {
    display: inline-block;
    width: 175px;
  }

  .fav-percent {
    font-size: 48px;
  }

  .fav-style {
    font-size: 20px;
  }
  
  .images-list {
    padding: 50px;
  }
}